package modules

import (
	_ "__MODULE__/app"
	_ "__MODULE__/app/docs/auth"
	_ "__MODULE__/app/docs/forms"
	_ "__MODULE__/app/docs/getting-started"
	_ "__MODULE__/app/docs/images"
	_ "__MODULE__/app/docs/routing"
	_ "__MODULE__/app/docs/runtime"
)
