<div data-gosx-countdown="2026-08-22T16:00:00-04:00">
	    <b data-gosx-countdown-segment="days">3</b>
	    <b data-gosx-countdown-segment="hours">04</b>
	    <b data-gosx-countdown-segment="minutes">12</b>
	    <b data-gosx-countdown-segment="seconds">09</b>
	</div>